.container {
    width: 1060px;
    margin: 0px auto;
    font-weight: normal;
}
a:visited {
    color: #5d12e7;
}
a{
     text-decoration: none;
}
.brand {
    font-size: 50px;
    font-weight: normal;
    color: #5d12e7;
    float: left;
    margin-bottom: 30px;
}
 
.searchbox {
    float: right;
    width: 400px;
    height: 50px;
    background: linear-gradient(#E4F2B9, #B7E953);
    padding: 20px 20px 0 20px;
    margin :  30px 15px 0  0;
}
.search_text{
    
     float: left;
     height: 25px;
     width: 200px;
     color: #e36a0c;
     font-size: 15px;
     border-style: none;
     padding-left: 5px;
     background-image: url(images/search.png);
     background-repeat: no-repeat;
     background-position: right;
}
.search{
    float: right;
    height: 27px;
    /* margin-top: 4px; */
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color:rgb(132, 0, 189) ;
    font-weight: bold;
    border-style: none;  
}
.search_img{
   right: 30px;
}
.menu{
     
    clear: both;
    background: linear-gradient(#E4F2B9, #B7E953);
    margin-right: 15px;
    height: 85px;
}
 
.menu ul li {
    float: left;
    color:rgb(132, 0, 189) ;
    list-style: none;
    margin-top: 30px; 
    border-right : 1px solid #5d12e7 ;
    padding : 0 30px;
    
}
.menu ul li a{
    transition: font-size 0.3s,font-weight,color;
}
.menu ul li a:hover, .menu ul li a.a{
    font-size: 20px;
    font-weight: bold;
    color: #4d07cf;

}
.menu ul li:last-child{
    border-style: none;
}
.para
{
    margin: 20px 15px 0 0;
    height: 310px;
    background:linear-gradient(rgb(119, 255, 119),rgb(60, 248, 60));
}
.maths{
    
    padding: 25px 25px 0 25px;
    font-size: 45px;
    color: #316901;
    
}
.ans{
    color: #00b40f;
    padding: 0  25px ;
    font-size: 25px;
    
}
 
.list_container{
    padding: 0 20px;
    margin: 20px 15px 0 0;
    width: 450px;
    border: solid yellow 1px;
    border-radius: 10px;
    color: #4d07cf;
    font-size: 20px;
}
#left{
   float: left;
}
#left h2{
    padding  :20px;
}
#left ul li{
    list-style: none;
    background : url(images/arrow.png) no-repeat ;
    padding-left: 30px;
    padding-bottom: 10px;
}
#left ul li a{
     transition: font-size 0.3s ease,color;
     
}
#left ul li a:hover{
    font-size: 25px;
    color: #3e04ab;
    font-weight: bold;
}
#right{
    float: right;
}

#right h2 {
    padding: 20px;
}

#right ul li {
    list-style: none;
    background: url(images/tick.png) no-repeat;
    padding-left: 50px;
    padding-bottom:39px;
}

#right ul li a {
    transition: font-size 0.3s ease, color;

}

#right ul li a:hover {
    font-size: 25px;
    color: #3e04ab;
    font-weight: bold;
}
.footer{
    margin: 55% 15px 0 0;
    border-radius: 10px;
    clear: both;
    height: 30px;
    background: linear-gradient(rgb(244, 244, 227),rgb(228, 228, 14));
    padding: 30px;
    text-align: center;
}

 